# environments/compute/terraform.tfvars.example
#
# Copy this file to terraform.tfvars and fill in account IDs.
# DO NOT commit terraform.tfvars.

development_account_id = ""
staging_account_id     = ""
production_account_id  = ""

# bedrock_model_id = "<BEDROCK_MODEL_ID>"  # e.g. eu.anthropic.claude-haiku-4-5-20251001-v1:0, or "openai.gpt-oss-safeguard-120b"

role_prefix = "gds-aidr"
team_token = ""
development_wildcard_certificate_arn = "arn:aws:acm:us-east-1:<DEVELOPMENT_ACCOUNT_ID>:certificate/<CERT_ID>"

# --- image tags moved to synthetic-email-generation repo infrastructure/ in feat/decouple_compute
## changes... ---
# development_api_image_tag = ""
# development_ui_image_tag  = ""